@import "../../styles/ColorSheet.css";

.payment-page {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;

    & .payment-box-card {
        width: 100%;
        padding: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        gap: 22px;

        & .card{
            background: var(--white);
            border-radius: 10px;
            box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
        }

        & .booking-step-card {
            width: 75%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 150px 0px 150px;

            & .ant-steps-item-title{
                font-family: "Noto Sans Thai", sans-serif;
                font-size: 14px;
            }

            & .ant-steps-item-content{
                margin-top: 5px;
            }

            & .ant-steps-icon{
                font-family: "Noto Sans Thai", sans-serif;
                font-weight: 600;
            }

            & :where(.css-dev-only-do-not-override-49qm).ant-steps .ant-steps-item-process .ant-steps-item-icon{
                background-color: var(--green);
                border-color: var(--green);
            }
        }

        & .sub-section-card{
            width: 75%;
            display: flex;
            justify-content: space-between;
            gap: 22px;
            min-height: calc(100vh - 220px);

            & .booking-detail-card{
                width: 65%;
                padding: 20px 25px;
                display: flex;
                flex-direction: column;

                & .title{
                    font-weight: 700;
                    color: var(--title-color-2);
                    padding-bottom: 10px;
                }

                & .detail-container{
                    padding: 0px 20px;
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    
                    & .detail-table{
                        margin: 10px 0px;
                        border-radius: 15px;
                        /* border-collapse: collapse; */
                        overflow: hidden;
    
                        & thead{
                            background: var(--background-head-title);
    
                            & th{
                                padding: 6px 4px;
                                
                            }
                        }
    
                        & tbody{
                            & td{
                                padding: 6px 4px 6px 4px;
                            }
                            
                            & .gap{
                                height: 50px;
                            }
    
                            & .foot{
                                background: rgb(245, 245, 245);
    
                                & th{
                                    padding: 8px 4px;
                                }
                            }
                        }
                    }
    
                    & .promotion-box{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 2px;

                        & .text{
                            display: flex;
                            align-items: center;
                        }

                        & .input-box{
                            display: flex;
                            justify-content: flex-end;
                            gap: 6px;
                            padding-right: 6px;
                            width: 100%;

                            & .code-input{
                                min-width: 50px;
                                border-radius: 5px;
                                border: 1px solid var(--border-color-2);
                                padding: 0px 10px;
                            }

                            & .btn{
                                width: 70px;
                                border: 0px;
                                border-radius: 5px;
                                padding: 4px 0px;
                                transition: all 0.3s ease;
                            }

                            & .btn:hover {
                                box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
                            }

                            & .usecode-btn{
                                background-color: var(--btn-color-1);
                                color: var(--text-btn-color-1);   
                            }

                            & .cancelcode-btn{
                                border: 1px solid;
                            }
                        }
                    }

                    & .warning-text{
                        text-align: end;
                        padding: 6px;
                        color: var(--red);
                    }

                    & .special-Request{
                        width: 100%;
                        border: 1px solid var(--border-color-2);
                        border-radius: 5px;
                        outline: none;
                        padding: 5px 20px;
                    }

                    & .insurance-box{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 10px;
                        margin-top: 30px;
                        gap: 10px;

                        & .buy-insurance-btn{
                            padding: 6px 10px;
                            border: 1px solid var(--btn-color-2);
                            background: var(--btn-color-2);
                            color: var(--text-btn-color-1);
                            border-radius: 5px;
                            transition: all 0.5s ease;
                        }

                        & .buy-insurance-btn:hover{
                            box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
                        }

                        & .text-box{
                            text-align: center;

                            & .star{
                                color: var(--red);
                            }

                            & .text2{
                                color: var(--description-color);
                            }
                        }
                    }
                }  
            }

            & .qr-code-card{
                width: 35%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 32px 12px;

                & .note-text{
                    font-size: 16px;
                    font-weight: 500;
                    padding-bottom: 10px;

                    & .star{
                        color: var(--red);
                    }
                }

                & .img-box{
                    width: 36%;
                    margin-bottom: 6px;

                    & img{
                        width: 100%;
                    }
                }

                & .account-name{
                    margin-top: 12px;
                    font-weight: 700;
                }

                & .time-box{
                    text-align: center;
                    margin-top: 10px;

                    & .time{
                        font-weight: 600;
                    }

                    & .text{
                        color: var(--description-color);
                        font-size: 14px;
                    }
                }

                & .upload-form{
                    display: flex;
                    flex-direction: column;
                    width: 70%;
                    margin-top: 20px;

                    & .upload-btn{
                        margin-top: 10px;
                        height: 36px;
                        border: 2px solid var(--btn-color-1);
                        color: var(--title-color-2);
                        transition: all ease 0.3s;
                        font-weight: 600;
                        border-radius: 5px;
                    }

                    & .upload-btn:hover{
                        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
                        background: var(--btn-color-1);
                        color: var(--text-btn-color-1);
                    }

                    & .upload-btn:disabled{
                        background: transparent;
                        color: var(--description-color);
                        border-color: var(--border-color-2);
                        box-shadow: none;
                        border-radius: 5px;
                    }
                }

                & .cancel-btn{
                    border: 2px;
                    color: var(--description-color);
                    width: 70%;
                    margin-top: 6px;
                    height: 36px;
                    font-weight: 500;
                    transition: all 0.3s ease;
                    border-radius: 5px;
                }

                & .cancel-btn:hover{
                    background-color: var(--red);
                    color: var(--text-btn-color-1);
                    border-color: var(--red);
                }

                & .cancel-btn:disabled{
                    background: transparent;
                    color: var(--description-color);
                    border-color: var(--border-color-2);
                    box-shadow: none;
                    border-radius: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px){
    .payment-page{
        .sub-section-card{
            flex-direction: column;

            .booking-detail-card.card, .qr-code-card.card{
                width: 100%;
            }

            .qr-code-card.card{
                padding: 32px 20%;
            }
        }
    }
}

@media only screen and (max-width: 1050px){
    .payment-page .payment-box-card .booking-step-card{
        padding: 0px 22px;
        padding-top: 8px;
        overflow: scroll;
        overflow-y: hidden;
    }
}